<!DOCTYPE html>
<html>
  <head>
    <title>Lbex</title>
    <%= csrf_meta_tags %>
    <script>
      window['csrf-token'] = document.querySelector('meta[name="csrf-token"]').content;
    </script>
  </head>

  <body>
    <div id="root"></div>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
  </body>
</html>
