<!DOCTYPE html>
<html>
  <head>
    <title>Lbex</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag *webpack_asset_paths("application") %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
